{% extends 'base.html' %} {% block content %}

<h1>Wallets</h1>
<hr />
<p>
    Crypto wallets are an essential tool for buying, trading and selling cryptocurrencies. Traders need them to store crypto securely, as well as to protect and validate transaction information. Be they hardware or software, also called hot and cold storage, custom crypto wallets offer traders dedicated solutions compared to those from crypto exchanges.
</p>
{% for wallet in object_list %}
<div class="card">
    <a href="{% url 'wallet_detail' wallet.id %}">
        <div class="card-content">
            <span class="card-title">{{wallet.name}}</span>
        </div>
    </a>
</div>
{% endfor %}
{% endblock %}